@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Sedgwick+Ave&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #6dd3ce;
    color: #072917;
}
#logo-link {
    padding-top: 5px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #05299e;
    margin: 25px auto;
}
body {
    background-color: white;
    font-family: "Poppins", Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #05299e;
    color: white;
}
.book, .join {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border: 5px solid #D06100;
    border-radius: 5px;
    background-color: #D06100;
}
.book:hover, .join:hover {
    color: #072917;
    background-color: white;
}
.msg {
   background-color: white;
}
footer {
    background-color: #072917;
    padding: 25px 50px;
}
footer p {
    color: #6dd3ce;
    font-size: 1.2em;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    background-color: #6dd3ce;
    color: black;
}
footer p a:hover {
    text-decoration: underline;
}
footer .socail img {
    padding-top: 15px;
}
.home-title {
    color: #D06100;
    font-family: "Sedgwick Ave", Impact, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #05299e;
    font-family: "Sedgwick Ave", Impact, sans-serif;
}
.msg{
    line-height: 1.5em;
    padding: 35px;
    background-color: #05299e;
    margin: 25px auto;
}
.msg h2 {
    color: white;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
h2 {
    color: #D06100;
    font-family: "Sedgwick Ave", Impact, sans-serif;
    margin: 0;
}
.logo, .icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
.icon{
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin-top: 200px;
}
.card-img {
    border: 10px solid #6dd3ce;
}